<!DOCTYPE html>
<html>
<head>
    <title>Plant Recommendation</title>
    <style>
        body { font-family: Arial; background-color: #f0fff0; padding: 30px; }
        h2 { color: green; }
        p { font-size: 18px; }
        .card {
            background: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            width: 70%;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="card">
        <h2>✅ Recommended Crop:</h2>
        <p><strong>{{ plant }}</strong></p>

        <h3>🌱 How to Take Care:</h3>
        <p>{{ tips }}</p>

        <br><br>
        <a href="/">🔄 Try Again</a>
    </div>
</body>
</html>
